@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(to right, rgba(136, 61, 129, 0.75), rgba(68, 21, 202, 0.6)), url("./assets/Home_background.png") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
